code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, input, textarea, button {
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #A9B7C6;
}

body {
  background-color: #1a1a1c;
  margin: 0;
}

.page {
  display: flex;
  max-width: 53rem;
  margin: 0 auto 0;
  padding: 0 1rem 0;
  flex-direction: column;
  height: 100vh;
}

.icon-container {
  display: inline-block;
  vertical-align: middle;
}

.icon-container img, svg {
  display: block;
  margin: 0 auto;
}

.spacer {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

footer {
  width: 100%;
  font-size: smaller;
  text-align: center;
  height: 2.2em;
}

footer a {
  display: inline-flex;
  align-items: center;
  color: #717181;
  transition: color 0.1s ease-in-out;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: rgb(88, 88, 88);
}

footer p {
  margin: 0;
}

footer .icon-container {
  font-size: 1.2em;
}