.profile-box {
    border-style: solid;
    border-color: #212020;
}

.profile-box button{
    width: auto;
    padding: 0.3em 0.5em;
    margin: 0.7em 0.7em;
    display: inline-block;
    color: #f8f5f5;
    background: #3b3942;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-box button:hover{
    background: #56545e;
}